<div class="container">
  <div class="row passport-show">
    <div class="col-md-3 passport-show-left">
      <img class="something" src="http://placehold.it/250x250", alt="<%= @passport.name %>" />
    </div>
    <div class="col-md-9 passport-show-right">
      <div class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= @passport.name %></h4>
          <p class="list-group-item-text"><%= link_to "#{@passport.url}", "http://#{@passport.url}", target: "_blank" %></p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">Valid From</h4>
          <p class="list-group-item-text"><%= "#{Formatter.parse(@passport.start)} to #{Formatter.parse(@passport.expiration)}" %></p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">Do you have this passport?</h4>
          <% if current_user %>
          <p class="list-group-item-text"><%= button_to "Add to My Account", user_passports_path(passport_id: @passport.id, user_id: current_user.id), name: "add-to-account", class: "add-to-account" %></p>
          <% else %>
          <p class="list-group-item-text"><%= link_to "Sign up or Sign In!", "#" , data: {toggle: "modal", target: "#loginModal"}%></p>
          <% end %>
        </li>

      </div>
    </div>
  </div>
  <div class="row passport-show-venues">
    <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1GLKTAaIJPCvw0q08W1T1MLd7ii8" width="640" height="480"></iframe> -->
    <div class="container page-header">
      <i class="fa fa-building-o fa-2x active" aria-hidden="true"></i>
      <p>Venues</p>
    </div>
    <% @venues.each do |v| %>
    <div class="col-md-6">
      <div class="list-group venue-cards">
        <li class="list-group-item venue venue-heading">
          <h5 class="list-group-item-heading venue-header"><%= v.name %></h5>
          <p class="list-group-item-text"><%= link_to "#{v.website}", "http://#{v.website}", target: "_blank" %></p>
        </li>
        <li class="list-group-item venue">
          <p class="list-group-item-text"><%= v.neighborhood %></p>
          <p class="list-group-item-text"><%= v.address %></p>
          <% if v.phone %>
          <p class="list-group-item-text"><%= v.phone %></p>
          <% end %>
        </li>
        <li class="list-group-item venue">
          <p class="list-group-item-text"><%= v.passport_specials(@passport) %></p>
        </li>
        <%= link_to v.yurl, target:"_blank" do %>
        <li class="list-group-item">
          <%= image_tag "yelp-logo-xsmall" %>
          <%= image_tag v.ratings %><br />
          <%= "#{v.review_number} Reviews" %>
        </li>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
