<h1>We're almost done!</h1>

<%= form_for @user, html: { method: :patch } do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :image_url, "Profile Photo" %>
  <%= f.text_field :image_url %>
  <%= f.submit "Complete Registration!" %>
<% end %>
