<div class="container">
	<div class="page-header">
		<i class="fa fa-tachometer fa-2x active" aria-hidden="true"></i>
		<p>Dashboard!</p>
	</div>
	<div class="list-group">
		<div class="list-group-item active">
			<h4 class="list-group-item-heading profile-header">My Profile</h4>
		</div>
	</div>
	<div class="list-group-item profile-body">
		<p>Name: <%= @user.name %><br />
			E-Mail: <%= @user.email %></p>
			<% if @user.provider == "email" %>
			<%= link_to "Edit Profile", edit_user_path(@user), class:"add-btn" %>
			<% end %>
			<!-- <a href="#" class="add-btn">Edit Profile</a> -->
		</div>
		<hr />
		<div class="row">

			<div class="col-md-6">
				<div class="list-group">
					<div class="list-group-item active">

						<h4 class="list-group-item-heading profile-header">My Passports<span class="label label-default label-pill pull-md-right"><%= @user.passport_count %></span></h4>
						<p><%= link_to "Find a Passport", passports_path %> - <%= link_to "Create a New Passport( COMING SOON! )", "#" %></p>
					</div>
				</div>
				<div class="list-group-item profile-body">
					<% @user.passports.each do |passport| %>
					<div class="passport">
						<%= link_to passport.name, user_u_passport_path(user_id: current_user.id, id: passport.id) %> - <%= button_to "Remove from My Account", user_passport_path(passport) , name: "add-to-account", method: :delete, data: { confirm: "REALLY?!?" } %>
					</div>
					<% end %>
				</div>
			</div>

			<div class="col-md-6">
				<div class="list-group">
					<div class="list-group-item active">
						<h4 class="list-group-item-heading profile-header">My Groups<span class="label label-default label-pill pull-md-right"><%= @user.group_count %></span></h4>
						<p><%= link_to "Create a New Group", new_group_path %> - <%= link_to "Find a Group", groups_path %></p>
					</div>
				</div>
				<div class="list-group-item profile-body">
					<% @user.groups.each do |group| %>
						<div class="group">
							<%= link_to group.name, group_path(group) %> - <%= group.passport.name %><br /><%= button_to "Leave the Group", membership_path(group) , name: "add-to-account", method: :delete, data: { confirm: "Done with these people?" } %>

						</div>
					<% end %>

				</div>
			</div>

		</div>
	</div>
