<div class="container">
	<div class="page-header">
		<i class="fa fa-tachometer fa-2x active" aria-hidden="true"></i>
		<p><%= @passport.name %></p>
	</div>
	<div class="col-md-6 col-md-offset-3">

	<table class="table table-hover table-striped solo-show ">
			<thead class="thead-inverse">
			<tr>
				<th>
				All of the Places
			</th>
			</tr>
		</thead>
		</tr>
		<% @venues.each do |v| %>
		<tr>
			<td id="<%= v.y_id %>">
				<%= v.name %>
			</td>
		</tr>
		<% end %>
	</table>
	</div>
</div>

<script>
$(document).ready(function() {
	highlightVisits();

	$('table').on('click', 'td', function() {
		var yelpId = $(this).attr('id')
		var visitData = { venue: { yelp_id: yelpId, up_id: <%= @up.id %> } }
		var deleteData = { "_method":"delete", venue: { yelp_id: yelpId, up_id: <%= @up.id %> } }
		if($(this).hasClass("visited-cell")) {
			$.ajax({
				method: "DELETE",
				url: "/api/v1/visits/",
				dataType: "JSON",
				data: deleteData,
				success: singleHighlights(yelpId)
			})
		}
		else {
			$.ajax({
				method: "POST",
				url: "/api/v1/visits.json",
				dataType: "JSON",
				data: visitData,
				success: singleHighlights(yelpId)
			})
		}
	})
})

function singleHighlights(yelpId){
	$("#" + yelpId).toggleClass('visited-cell')
}
function highlightVisits(){
	$("<%= @visits %>").addClass('visited-cell')
}
</script>
