<nav class="navbar navbar-fixed-top navbar-dark">
    <div class="navbar-header">
      <%= link_to "Passport Helper", root_path, class: "navbar-brand" %>
    </div>
    <div class="pull-md-right">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to "Passports", passports_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "Other Link", passports_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "Something Else", passports_path, class:"nav-link" %></li>
        <% if current_user %>
          <li class="nav-item"><%= image_tag current_user.image_url, alt: current_user.name %></li>
          <li class="nav-item"><%= link_to "Log Out", logout_path %></li>
        </ul>
        <% else %>
          <li class="nav-item"><%= link_to "Login or Register", "#", class:"nav-link", data: {toggle: "modal", target: "#loginModal"}%></li>
        <% end %>
        </ul>
    </div>
</nav>
