<div class="container">
  <% passports.each do |p| %>
  <div class="card">
    <div class="card-block passport">
      <h5 class="card-title"><%= link_to p.name, passport_path(p) %></h5>
      <h6 class="card-subtitle text-muted"><%= link_to "#{p.url}", "http://#{p.url}", target: "_blank" %></h6>
    </div>
    <img class="card-img-top" src="http://placehold.it/348x180" alt="<%= p.name %>">
    <!-- paperclip needs to bring in url and specific szie -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6 class="list-group-item-heading"><%= "#{p.venues.count} Venue".pluralize(p.venues.count) %></h6>
      </li>
      <li class="list-group-item">
        <h6 class="list-group-item-heading">Valid From</h6>
        <p class="list-group-item-text"><%= "#{Formatter.parse(p.start)} to #{Formatter.parse(p.expiration)}" %></p>
      </li>
    </ul>
    <div class="card-block footer">
      <%= link_to "Deets", passport_path(p), class:"card-link" %>
      <% if current_user && current_user.passports.include?(p) %>
        <%= link_to "Your Progress", user_u_passport_path(user_id: current_user.id, id: p.id), class:"card-link"%>
      <% elsif current_user %>
        <%= button_to "Add to My Account", user_passports_path(passport_id: p.id, user_id: current_user.id), name: "add-to-account", class: "add-to-account" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
