<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://use.fontawesome.com/f630be39ea.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <title>PassportHelper</title>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=228847670831684";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> 
  <%= render partial: "shared/navbar" %>

  <% flash.each do |key, value| %>
  <div class="container">
    <div class="alert alert-<%= key %> alert-dismissible", role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= value %>
    </div>
  </div>
  <% end %>
  <%= render partial: "shared/modal" %>

  <div class="main-body">
    <%= yield %>
  </div>
  <script>
  $('.alert').fadeIn(function() {
    setTimeout(function() {
      $('.alert').fadeOut();
    }, '3000');
  });
  </script>
</body>
</html>
